/* code your feature design here */
.feature {
  h2 {
    font-size: 20px;
    color: #666666;
  }
  p {
    font-size: 14px;
    color: #B3B3B3;
  }
  img {
    width: 20px;
    margin-right: 5px;
  }
}
.newsletter {
  text-align: center;
  margin: 20px;
}
