<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <ul class="list-inline">
              <li><i class="fa fa-youtube fa-4x"></i></li>
              <li><i class="fa fa-instagram fa-4x"></i></li>
              <li><i class="fa fa-facebook fa-4x"></i></li>
              <li><i class="fa fa-twitter fa-4x"></i></li>
              <li><i class="fa fa-linkedin fa-4x"></i></li>
            </ul>
          </div>
          <div class="col-xs-4 text-right">
            <p> This is a fictive product from scratch !</p>
          </div>
        </div>
      </div>
    </div>
