<h1>The best team ever and ever !</h1>
<p>Welcome to the best team you never meet ever !</p>

<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag "thib.jpg", class:"img-circle" %>
      </div>

    </div>
  </div>
</div>
