<div class="text-center">
  <h1>The best team ever and ever !</h1>
  <p>Welcome to the best team you never meet ever !</p>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "thib.jpg", class:"img-circle img_size" %>
        <h3> Le besta !</h3>
      </div>
        <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "oscar.jpg", class:"img-circle img_size" %>
        <h3>The alcoolic ! </h3>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "arthur.jpg", class:"img-circle img_size" %>
        <h3>Fucking Parisian </h3>
      </div>

    </div>
  </div>
</div>
